body{
    background-color: cadetblue;
}

h1{
    color: dimgray;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}